{% extends 'base.html.twig' %}

{% block title %}Hello SearchController!{% endblock %}

{% block body %}
    <h1>Localitzacio del paquete</h1>
    <input type="text">

    <p>{{ employe.name }} {{ employe.latitude }} {{ employe.longitude }}</p>
{% endblock %}
